<h2>Pokemons</h2>
<hr>

<ul class="list-group">
  <!--<li routerLink='' [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" class="list-group-item">
    Home page
  </li>
  <li routerLink="about" routerLinkActive="active" class="list-group-item">
    About page
  </li>
  <li routerLink="contact" routerLinkActive="active" class="list-group-item">
    Contact page
  </li>-->
  <li routerLink="pokemons/by-name" routerLinkActive="active" class="list-group-item">
    by name
  </li>
  <li routerLink="pokemons/by-type" routerLinkActive="active" class="list-group-item">
    by type
  </li>
  <li routerLink="pokemons/by-id" routerLinkActive="active" class="list-group-item">
    by id
  </li>
</ul>
